.questioncontainer {
    margin-top: 25px;
    margin-left: 100px;
}

.homeback {
    background-color: #ECF0F1;
    height: 100vh;
}

.commentcontainer {
    background-color: #ECF0F1;
    height: 100vh;
}